body {
  background-image: url("https://mail.google.com/mail/u/0?ui=2&ik=4ebf19b1ac&attid=0.1&permmsgid=msg-a:r7047717664025026521&view=fimg&fur=ip&sz=s0-l75-ft&attbid=ANGjdJ9ZBlMQPsVbXE9kUBNTy2N12LdWKUiJO0C47NMc0O7xiL9LIG-9S-xV6eyK4q9sx2bAWWWJyjdnV1UcT53pIk1GWHADJNjSsYpPb0ESTzEpGwUl4dfweKVoT9Q&disp=emb&realattid=ii_l19rc5yu0"); /* The image used */
  height: 500px; /* You must set a specified height */
  background-position: top; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}